<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head')%>
</head>

<body>
  <header>
    <%- include('../../layout/header')%>
  </header>
  <main>
    <div>
      <h2>Search Results</h2>
    </div>
    <ul id="results-list">
      <% searchesResults.forEach(book => { %>
      <li id="<%=book.id%>" class="books box">

        <div class="top">
          <img src='<%= book.image_url %>' class="book-img"></img>
          <ul>
            <li class="title"> <%= book.title %></li>
            <li class="author"> <%= book.author %></li>
            <li class="description"> <%= book.descript %></li>
          </ul>
          <button type="submit" class="view-details-button" id="<%= book.isbn%>">View Details</button>
        </div>

        <form action="/selectedBook" method="post" class="details-form bottom" id="<%= book.isbn %>">
          <!-- <legend>Book Details:</legend> -->
          <input type="text" name="author" value="<%= book.author %>" required readonly>
          <input type="text" name="title" value="<%= book.title %>" required readonly>
          <input type="text" name="isbn" value="<%= book.isbn %>" required readonly>
          <input type="text" name="image_url" value="<%= book.image_url %>" required readonly>
          <textarea form="<%= book.isbn %>" type="text" name="descript" value="<%= book.descript %>" class="descript-textarea" required readonly><%= book.descript %></textarea>
          <input type="text" name="bookshelf" placeholder="Enter a Bookshelf Name"
              required>
          <button type="submit">Add to database</button>
        </form>

      </li>
      <% }) %>
    </ul>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
</body>

</html>