<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head')%>
</head>

<body>
  <header>
    <%- include('../layout/header')%>
    <a href="/search-form">Search for more books</a>
  </header>

  <main>
    <h2>Number of Saved Books: <%= databaseResults.length %></h4>
      <ul>
        <% databaseResults.forEach(book => { %>
          <li class="books">
            <img src="<%= book.image_url %>"></img>
            <ul>
              <li class="title"> Title: <%= book.title %></li>
              <li class="author"> Author: <%= book.author %></li>
              <li class="ISBN"> ISBN 13: <%= book.isbn %></li>
              <li class="description"> Description: <%= book.descript%></li>
              <li class="bookshelf"> Your Bookshelf: <%= book.bookshelf %></li>
            </ul>
          </li>
        <a href="/detail/<%= book.id%>">View Details</a>
        <% }) %>
      </ul>
  </main>
</body>

</html>