<li class="books">
  <img src="<%= book.image_url %>"></img>
  <ul>
    <li class="title"> Title: <%= book.title %></li>
    <li class="author"> Author: <%= book.author %></li>
    <li class="ISBN"> ISBN 13: <%= book.isbn %></li>
    <li class="description"> Description: <%= book.descript%></li>
    <li class="bookshelf"> Your Bookshelf: <%= book.bookshelf %></li>
  </ul>
</li>